@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --background: rgb(229, 229, 229);
}

* {
  /* Importante para el debugging */
  /* outline: 1px solid limegreen !important; */
  padding: 0;
  margin: 0;
  /* Evita el overflow */
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

.mesa {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(12, 1fr);
  row-gap: 20px;
  column-gap: 10px;
  border-radius: 10px;
  box-shadow: 2px 5px 15px 3px rgba(0,0,0,0.19);
  padding: 0 20px;
  background-color: rgb(46, 44, 44);
}

.maya {
  grid-area: 1 / 15 / 13 / 16;
  /* box-shadow: 2px 5px 15px 3px rgba(0,0,0,0.19); */
  border-left: 5px dashed white;
}

.raqueta {
  background-color: white;
}

.raqueta__izquierda {
  grid-area: 3 / 1 / 6 / 2;
}

.raqueta__derecha {
  grid-area: 8 / 30 / 11 / 31;
}

.pelota {
  grid-area: 7 / 10 / 8 / 11;
  background-color: white;
}

.contador {
  color: white;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.contador__izquierda {
  grid-area: 2 / 12 / 5 / 14;
  content: "";
}

.contador__derecha {
  grid-area: 2 / 17 / 5 / 19;
  content: "";
}